body {
    padding: 20px;
    font-family: Arial;
}

a {
    color: inherit;
    text-decoration: none;
}

/* More-button styling */


/* Grid styling */
.grid {
    width: 95%;
    height: 600px;
    position: relative;
    overflow-x: none;
    overflow-y: none;
    background-color: #fff;
    margin: 10px 0px;
    margin-bottom: 100px;
    border: 10px solid #fff;
    clear: both;
}

.grid > div {
    background-color: #ddd;
    position: absolute;
    float: left;
    overflow: hidden;
    /*margin: 20px;*/
}

/* Tile styling */
.thumbs {
    position: absolute;
    height: 100%;
    width: auto;
    display: block;
    vertical-align: bottom;
    margin-left: -70px;

}

.tile-title {
    background: rgba(255,255,255,.8);
    font-size: 12px;
    line-height: 12px;
    padding: 10px 5px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}